<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

<body>
  <main>
    <%- include('partials/header') %>
    <h2><%= errorTitle %></h2>
    <div><%= errorMessage %></div>
    <%- include('partials/footer') %>
  </main>
</body>

</html>